@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.container {
    width: 96%;
    margin: 2% 1%;
    height: 16%;
    padding: 5px 0;

    display: flex;
    align-items: center;
    /* justify-content: ; */

    border: solid;
    border-color: white;
    border-radius: 4px;
    background-color: #111111;
    font-family: "Montserrat", sans-serif;
}

.display {
    text-align: right;
    overflow: hidden;
    width: 100%;
    margin: 0 5%;
    font-size: 3em;
    color: white;
}
